* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop-container {
    max-width: 100%;
}

body {
    background-color: white; 
}

div {
    display: block;
}

#content {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 20px;
}

.inputbox {
    padding: 10px 13px;
    border: 0.5px solid #d1d1d1;
    border-radius: 3px;
    font-size: 12.5px;
    width: 300px;
    transition: box-shadow 0.2s;
}

.inputbox:focus {
    border: 0.5px solid #d1d1d1;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s;
    outline: none;
}

::placeholder {
    color: #919191;
}

:focus::placeholder {
    color: #d1d1d1;
}

.content-logo {
    width: 150px;
    height: 50px;
    overflow: hidden;
}

.content-logo img {
    width: 150px;
    height: 150px;
    margin: -50px 0 0 0;
}

.btn-area {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.help-block {
    font-size: 10px;
    color: #d12f2c;
    display: block;
    margin-top: 5px;
}

.has-error {
    border: 0.5px solid #d12f2c;
}

.has-error:focus {
    border: 0.5px solid #d12f2c;
    box-shadow: 5px 8px 16px 0px rgba(209, 47, 44,0.2);
}

.btn-area > input {
    width: 135px;
    font-size: 11px;
    padding: 12px 14px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    transition: background-color 0.3s;
}

.btn-area > input:hover {
    background-color: #636363;
    transition: background-color 0.3s;
}

.btn-area > button {
    width: 135px;
    font-size: 11px;
    padding: 12px 14px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #d6133e;
    color: white;
    transition: background-color 0.3s;
}

.btn-area > button:hover {
    background-color: #f73b65;
    transition: background-color 0.3s;
}